body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

#lista-numeros {
  list-style: none;
  padding: 0;
  margin-bottom: 20px;
}

#lista-numeros li {
  font-size: 24px;
  color: #222;
}

button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.miBoton2 {
  background-color: #f44336;
}

.miBoton2:hover {
  background-color: #da190b;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
